{% extends 'base.html' %}

{% block content %}
  <form method="post" action="{% url 'submit_quiz' quiz.id %}">
    {% csrf_token %}
    <h1>{{ quiz.title }}</h1>
    {% for question in questions %}
      <h3>{{ question.text }}</h3>
      {% for choice in question.choice_set.all %}
        <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
        <label>{{ choice.text }}</label><br>
      {% endfor %}
    {% endfor %}
    <button type="submit">Submit Quiz</button>
  </form>
{% endblock %}
